[package]
name = "gr"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
subprocess = "0.2.9"
ureq = { version = "2.9.6", features = ["json"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.115"
lazy_static = "1.4"
regex = "1.10.4"
sha2 = "0.10.8"
dialoguer = { version = "0.11.0", features = ["fuzzy-select"] }
console = "0.15.8"
clap = { version = "4.5.4", features = ["derive"] }
open = "5.1.2"
thiserror = "1.0.58"
anyhow = "1.0.81"
flate2 = "1.0.28"
derive_builder = "0.20.0"
chrono = "0.4.35"
csv = "1.3.0"
log = "0.4.21"
env_logger = "0.11.3"

[dev-dependencies]
# disable basic-cookies from httpmock - not needed
httpmock = { version = "0.7.0", default-features = false }
tempfile = "3.10.1"
